In [38]:
import pandas as pd
import json

population_dir = 'project/data/cities.csv'

In [7]:
df = pd.read_csv(population_dir)

output = []
output.append("population")

years = ['1950', '1955', '1960', '1965', '1970']

,City,City_Alternate,Country,Latitude,Longitude,Country_ISO3,pop1950,pop1955,pop1960,pop1965,...,pop1985,pop1990,pop1995,pop2000,pop2005,pop2010,pop2015,pop2020,pop2025,pop2050
0,Sofia,NaN,Bulgaria,42.70,23.33,BGR,520,620,710,810,...,1180,1190,1170,1130,1170,1180,1210,1230,1240,1236
1,Mandalay,NaN,Myanmar,21.97,96.08,MMR,170,200,250,310,...,560,640,720,810,920,960,1030,1170,1310,1446
2,Nay Pyi Taw,NaN,Myanmar,19.75,96.10,MMR,0,0,0,0,...,0,0,0,0,60,930,1020,1180,1320,1461
3,Yangon,Rangoon,Myanmar,16.87,96.12,MMR,1300,1440,1590,1760,...,2630,2910,3210,3550,3930,4090,4350,4840,5360,5869
4,Minsk,NaN,Belarus,53.89,27.57,BLR,280,410,550,720,...,1470,1610,1650,1700,1780,1800,1850,1880,1880,1883
5,Phnum PÈnh,Phnom Penh,Cambodia,11.56,104.91,KHM,360,380,390,440,...,430,620,840,1160,1360,1470,1650,2030,2460,2911
6,El DjazaÔr,Algiers,Algeria,36.78,3.05,DZA,520,620,870,1050,...,1670,1910,2300,2750,3200,3350,3570,3920,4240,4499
7,Wahran,Oran,Algeria,35.74,-0.52,DZA,270,290,300,320,...,600,650,680,710,760,800,850,940,1030,1105
8,Douala,NaN,Cameroon,4.13,9.70,CMR,100,120,150,200,...,740,930,1160,1430,1770,1910,2110,2420,2720,2996
9,YaoundÈ,Yaounde,Cameroon,3.86,11.51,CMR,30,50,80,110,...,580,750,950,1190,1490,1610,1790,2060,2310,2549

In [39]:
for year in years:
    output_array = []
    output_array.append(year)
    output_array.append([])
    for index, row in df.head().iterrows():
        output_array[1].append("\"" + row['City'] + "\"")
        output_array[1].append(row['Country'])
        output_array[1].append(row['Latitude'])
        output_array[1].append(row['Longitude'])
        output_array[1].append(row['pop' + year])
#         print(row['City'], row['Country'], row['pop' + year])

    output.append(output_array)

output_file = open('project/data/cities_processed.json', mode='w+')
json.dump(output, output_file)
output_file.close()
#     this_year = df[['City', 'Country', 'Latitude', 'Longitude', 'pop' + year]]
#     print(this_year.head(100))